
<h1 class="d-flex justify-content-center">AKASHIC BANKING</h1>

<a href="/">Back</a>
<h2 class="d-flex justify-content-center">Tra cứu sổ</h2>

<div class="container" id="app">
    <form method="post" action="/searchPassbook">
        <div class="row py-2">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Customer ID</span>
                    <input name="customerID" type="text" class="form-control" placeholder="Customer ID"
                                aria-label="Customer ID" aria-describedby="basic-addon1" value="{{customerID}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Passbook ID</span>
                        <input name="passbookID" type="text" class="form-control" placeholder="Passbook ID"
                                aria-label="Passbook ID" aria-describedby="basic-addon1" value="{{passbookID}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown input-group mb-3">
                        <span class="input-group-text">Type</span>
                        <select name="term" class="form-control" id="term">
                            {{#each types}}
                                <option value="{{this}}" {{#eq ../term this}}selected{{/eq}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
        </div>

    <div class="row py-2">
                <div class="col-md-4">
                    <div class="dropdown input-group mb-3">
                        <span for="defaultMonth" class="monthReport input-group-text" id="basic-addon4">Month</span>
                        <input id="defaultMonth" name="defaultMonth" type="month" value="{{defaultMonth}}">                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown input-group mb-3">
                        <span class="input-group-text">BalanceRange</span>
                        <select name="balanceRange" class="form-control" id="balanceRange">
                        <option value="0" {{#eq balanceRange '0'}}selected{{/eq}}>All</option>
                        <option value="1" {{#eq balanceRange '1'}}selected{{/eq}}>0-1.000</option>
                        <option value="2" {{#eq balanceRange '2'}}selected{{/eq}}>1.000-50.000</option>
                        <option value="3" {{#eq balanceRange '3'}}selected{{/eq}}>50.000-500.000</option>
                        <option value="4" {{#eq balanceRange '4'}}selected{{/eq}}>More than 500.000</option>                            
                    </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown input-group mb-3">
                        <span class="input-group-text">Sort By</span>
                        <select name="sortBy" class="form-control" id="sortBy">
                            <option value="0" {{#eq sortBy '0'}}selected{{/eq}}>Passbook ID</option>
                            <option value="1" {{#eq sortBy '1'}}selected{{/eq}}>Customer ID</option>
                            <option value="3" {{#eq sortBy '3'}}selected{{/eq}}>Balance</option>
                        </select>

                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>       
        </div>
        <div class="row py-2">
            <h2 class="d-flex justify-content-center">Danh sách sổ</h2>
            <div class="col-md-10 offset-md-1">
                <div class="card mb-3">
                    <div class="card-body">
                        {{#if Cus}}
                            <p class="card-text">CustomerID: {{Cus.id}}</p>
                            <p class="card-text">Fullname: {{Cus.name}}</p>
                            <p class="card-text">Identity: {{Cus.identityNumber}}</p>
                            <p class="card-text">Phone: {{Cus.phone}}</p>
                            <p class="card-text">Address: {{Cus.address}}</p>                                                        
                        {{/if}}
                        
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Passbook ID</th>
                                <th scope="col">Customer ID</th>
                                <th scope="col">Type of passbook</th>
                                <th scope="col">OpenDate</th>
                                <th scope="col">Balance (thousand vnđ)</th>
                                <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each passbooks}}
                                <tr>
                                    <th scope="row">{{addOne @index}}</th>
                                    <td>{{passbook_ID}}</td>
                                    <td>{{customer_ID}}</td>
                                    <td>{{type}}</td>
                                    <td>{{formattedDate}}</td>
                                    <td>{{balance}}</td>
                                    <td>{{status}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{#if message}}
                            <p class="card-text">{{message}}</p>
                        {{/if}}
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>
